### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml
*.iws
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Java ###
# 编译后的class文件
*.class

# 日志文件
*.log

# BlueJ文件
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# 打包文件
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 虚拟机崩溃日志
hs_err_pid*
replay_pid*

### 游戏特定文件 ###
# 如果有游戏生成的临时文件或存档，可以在这里添加
# 例如：
# saves/
# temp/
# userdata/

# 如果有大型二进制资源文件不想上传，可以在这里指定
# 例如：
# audio/high_quality/
# image/original/